# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the citibike dataset - check that you are able to read in about 40k rows

In [1]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [2]:
test = '''
SELECT *
FROM citibike_short
'''

In [3]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_longitude,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,cartodb_id,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,-73.994811,NaN,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,1,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
1,NaN,-73.985649,NaN,245,2/1/2015 1:03,2/1/2015 1:07,438,St Marks Pl & 1 Ave,40.727791,89,297,E 15 St & 3 Ave,40.734232,-73.986923,20142,Subscriber,1990.0,1
2,NaN,-73.990093,NaN,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,2,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
3,NaN,-73.973715,NaN,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,3,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
4,NaN,-74.004704,NaN,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,4,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
5,NaN,-73.986317,NaN,544,2/1/2015 0:01,2/1/2015 0:10,323,Lawrence St & Willoughby St,40.692362,5,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1
6,NaN,-73.953820,NaN,717,2/1/2015 0:02,2/1/2015 0:14,373,Willoughby Ave & Walworth St,40.693317,6,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979.0,1
7,NaN,-73.977225,NaN,1306,2/1/2015 0:04,2/1/2015 0:26,352,W 56 St & 6 Ave,40.763406,7,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983.0,1
8,NaN,-73.989780,NaN,913,2/1/2015 0:04,2/1/2015 0:19,439,E 4 St & 2 Ave,40.726281,8,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955.0,1
9,NaN,-73.994046,NaN,759,2/1/2015 0:04,2/1/2015 0:17,335,Washington Pl & Broadway,40.729039,9,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985.0,2
10,NaN,-74.002638,NaN,585,2/1/2015 0:05,2/1/2015 0:15,284,Greenwich Ave & 8 Ave,40.739017,10,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982.0,1
11,NaN,-74.002638,NaN,581,2/1/2015 0:05,2/1/2015 0:15,284,Greenwich Ave & 8 Ave,40.739017,11,444,Broadway & W 24 St,40.742354,-73.989151,16936,Subscriber,1988.0,2
12,NaN,-73.988084,NaN,204,2/1/2015 0:05,2/1/2015 0:08,498,Broadway & W 32 St,40.748549,12,472,E 32 St & Park Ave,40.745712,-73.981948,21507,Subscriber,1991.0,2
13,NaN,-74.002150,NaN,1169,2/1/2015 0:07,2/1/2015 0:27,368,Carmine St & 6 Ave,40.730386,13,307,Canal St & Rutgers St,40.714275,-73.989900,17456,Subscriber,1982.0,2
14,NaN,-73.984267,NaN,419,2/1/2015 0:07,2/1/2015 0:14,326,E 11 St & 1 Ave,40.729538,14,2012,E 27 St & 1 Ave,40.739445,-73.976806,14679,Subscriber,1990.0,2
15,NaN,-73.998842,NaN,413,2/1/2015 2:41,2/1/2015 2:48,478,11 Ave & W 41 St,40.760301,171,465,Broadway & W 41 St,40.755136,-73.986580,17968,Subscriber,1970.0,1
16,NaN,-73.990741,NaN,527,2/1/2015 0:09,2/1/2015 0:17,285,Broadway & E 14 St,40.734546,15,212,W 16 St & The High Line,40.743349,-74.006818,18978,Subscriber,1977.0,1
17,NaN,-74.002150,NaN,1013,2/1/2015 0:10,2/1/2015 0:27,368,Carmine St & 6 Ave,40.730386,16,488,W 39 St & 9 Ave,40.756458,-73.993722,16496,Subscriber,1968.0,1
18,NaN,-73.977688,NaN,587,2/1/2015 0:13,2/1/2015 0:23,394,E 9 St & Avenue C,40.725213,17,331,Pike St & Monroe St,40.711731,-73.991930,17107,Subscriber,1990.0,1
19,NaN,-73.984267,NaN,525,2/1/2015 0:13,2/1/2015 0:22,326,E 11 St & 1 Ave,40.729538,18,507,E 25 St & 2 Ave,40.739126,-73.979738,16984,Subscriber,1987.0,1
20,NaN,-73.982912,NaN,670,2/1/2015 0:14,2/1/2015 0:26,493,W 45 St & 6 Ave,40.756800,19,305,E 58 St & 3 Ave,40.760958,-73.967245,15997,Subscriber,1980.0,1
21,NaN,-73.981420,NaN,711,2/1/2015 0:15,2/1/2015 0:27,445,E 10 St & Avenue A,40.727408,20,223,W 13 St & 7 Ave,40.737815,-73.999947,21516,Subscriber,1960.0,1
22,NaN,-73.987834,NaN,1559,2/1/2015 0:16,2/1/2015 0:42,428,E 3 St & 1 Ave,40.724677,21,457,Broadway & W 58 St,40.766953,-73.981693,15815,Subscriber,1986.0,1
23,NaN,-73.971879,NaN,683,2/1/2015 0:16,2/1/2015 0:27,228,E 48 St & 3 Ave,40.754601,22,477,W 41 St & 8 Ave,40.756405,-73.990026,18727,Subscriber,1987.0,1
24,NaN,-73.988639,NaN,522,2/1/2015 0:16,2/1/2015 0:24,513,W 56 St & 10 Ave,40.768254,23,488,W 39 St & 9 Ave,40.756458,-73.993722,14982,Subscriber,1969.0,1
25,NaN,-73.979738,NaN,389,2/1/2015 0:16,2/1/2015 0:23,507,E 25 St & 2 Ave,40.739126,24,518,E 39 St & 2 Ave,40.747804,-73.973442,16391,Subscriber,1957.0,1
26,NaN,-73.989780,NaN,276,2/1/2015 0:16,2/1/2015 0:21,439,E 4 St & 2 Ave,40.726281,25,473,Rivington St & Chrystie St,40.721101,-73.991925,15947,Subscriber,1981.0,1
27,NaN,-74.002971,NaN,907,2/1/2015 0:17,2/1/2015 0:32,128,MacDougal St & Prince St,40.727103,26,531,Forsyth St & Broome St,40.718939,-73.992663,16917,Subscriber,1993.0,1
28,NaN,-73.993934,NaN,946,2/1/2015 0:18,2/1/2015 0:33,490,8 Ave & W 33 St,40.751551,27,528,2 Ave & E 31 St,40.742909,-73.977061,15924,Subscriber,1975.0,1
29,NaN,-73.987030,NaN,144,2/1/2015 0:18,2/1/2015 0:21,350,Clinton St & Grand St,40.715595,28,502,Henry St & Grand St,40.714215,-73.981346,21321,Subscriber,1973.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,NaN,-73.987140,NaN,151,2/1/2015 2:40,2/1/2015 2:42,236,St Marks Pl & 2 Ave,40.728419,169,439,E 4 St & 2 Ave,40.726281,-73.989780,19545,Subscriber,1993.0,1
170,NaN,-73.990765,NaN,1859,2/1/2015 2:41,2/1/2015 3:12,293,Lafayette St & E 8 St,40.730287,170,373,Willoughby Ave & Walworth St,40.693317,-73.953820,19834,Subscriber,1976.0,1
171,NaN,-73.992005,NaN,473,2/1/2015 2:45,2/1/2015 2:53,382,University Pl & E 14 St,40.734927,172,358,Christopher St & Greenwich St,40.732916,-74.007114,19473,Subscriber,1995.0,1
172,NaN,-73.994811,NaN,783,2/1/2015 2:46,2/1/2015 2:59,521,8 Ave & W 31 St,40.750450,173,300,Shevchenko Pl & E 7 St,40.728145,-73.990214,17606,Subscriber,1986.0,1
173,NaN,-73.990765,NaN,310,2/1/2015 2:48,2/1/2015 2:53,293,Lafayette St & E 8 St,40.730287,174,317,E 6 St & Avenue B,40.724537,-73.981854,20011,Subscriber,1968.0,1
174,NaN,-73.995653,NaN,400,2/1/2015 2:49,2/1/2015 2:56,250,Lafayette St & Jersey St,40.724561,175,410,Suffolk St & Stanton St,40.720664,-73.985180,20910,Subscriber,1976.0,2
175,NaN,-74.001768,NaN,198,2/1/2015 2:51,2/1/2015 2:54,489,10 Ave & W 28 St,40.750664,176,521,8 Ave & W 31 St,40.750450,-73.994811,19705,Subscriber,1990.0,1
176,NaN,-73.988084,NaN,561,2/1/2015 2:52,2/1/2015 3:01,498,Broadway & W 32 St,40.748549,177,478,11 Ave & W 41 St,40.760301,-73.998842,17010,Subscriber,1977.0,1
177,NaN,-73.984092,NaN,413,2/1/2015 2:57,2/1/2015 3:03,537,Lexington Ave & E 24 St,40.740259,178,433,E 13 St & Avenue A,40.729554,-73.980572,16235,Subscriber,1988.0,1
178,NaN,-73.990026,NaN,668,2/1/2015 3:00,2/1/2015 3:11,477,W 41 St & 8 Ave,40.756405,179,528,2 Ave & E 31 St,40.742909,-73.977061,17881,Subscriber,1992.0,2
179,NaN,-73.976687,NaN,788,2/1/2015 3:05,2/1/2015 3:18,411,E 6 St & Avenue D,40.722281,180,531,Forsyth St & Broome St,40.718939,-73.992663,16202,Subscriber,1954.0,1
180,NaN,-74.005509,NaN,355,2/1/2015 3:05,2/1/2015 3:11,404,9 Ave & W 14 St,40.740583,181,127,Barrow St & Hudson St,40.731724,-74.006744,14589,Subscriber,1989.0,1
181,NaN,-73.990026,NaN,469,2/1/2015 3:06,2/1/2015 3:14,477,W 41 St & 8 Ave,40.756405,182,160,E 37 St & Lexington Ave,40.748238,-73.978311,14937,Subscriber,1985.0,1
182,NaN,-73.981656,NaN,251,2/1/2015 3:11,2/1/2015 3:16,504,1 Ave & E 15 St,40.732219,183,507,E 25 St & 2 Ave,40.739126,-73.979738,16301,Subscriber,1983.0,1
183,NaN,-73.995653,NaN,422,2/1/2015 3:19,2/1/2015 3:26,250,Lafayette St & Jersey St,40.724561,184,150,E 2 St & Avenue C,40.720874,-73.980858,14837,Subscriber,1980.0,1
184,NaN,-73.998102,NaN,383,2/1/2015 3:21,2/1/2015 3:27,161,LaGuardia Pl & W 3 St,40.729170,185,223,W 13 St & 7 Ave,40.737815,-73.999947,14631,Subscriber,1981.0,2
185,NaN,-73.986022,NaN,145,2/1/2015 3:23,2/1/2015 3:25,491,E 24 St & Park Ave S,40.740964,186,546,E 30 St & Park Ave S,40.744449,-73.983035,18287,Subscriber,1984.0,1
186,NaN,-73.988484,NaN,974,2/1/2015 3:26,2/1/2015 3:43,505,6 Ave & W 33 St,40.749013,187,2004,6 Ave & Broome St,40.724399,-74.004704,14574,Subscriber,1985.0,2
187,NaN,-73.985649,NaN,167,2/1/2015 3:26,2/1/2015 3:29,438,St Marks Pl & 1 Ave,40.727791,188,504,1 Ave & E 15 St,40.732219,-73.981656,16436,Subscriber,1984.0,2
188,NaN,-73.999154,NaN,738,2/1/2015 3:28,2/1/2015 3:41,453,W 22 St & 8 Ave,40.744751,189,300,Shevchenko Pl & E 7 St,40.728145,-73.990214,18573,Subscriber,1987.0,1
189,NaN,-74.002638,NaN,398,2/1/2015 3:28,2/1/2015 3:35,284,Greenwich Ave & 8 Ave,40.739017,190,285,Broadway & E 14 St,40.734546,-73.990741,19040,Subscriber,1977.0,1
190,NaN,-73.981948,NaN,148,2/1/2015 3:29,2/1/2015 3:32,472,E 32 St & Park Ave,40.745712,191,472,E 32 St & Park Ave,40.745712,-73.981948,20727,Subscriber,1982.0,1
191,NaN,-73.988900,NaN,585,2/1/2015 3:32,2/1/2015 3:41,483,E 12 St & 3 Ave,40.732233,192,268,Howard St & Centre St,40.719105,-73.999733,21046,Subscriber,1994.0,1
192,NaN,-73.950048,NaN,366,2/1/2015 3:33,2/1/2015 3:39,437,Macon St & Nostrand Ave,40.680983,193,344,Monroe St & Bedford Ave,40.685144,-73.953809,17284,Subscriber,1984.0,1
193,NaN,-73.979955,NaN,401,2/1/2015 3:39,2/1/2015 3:46,393,E 5 St & Avenue C,40.722992,194,403,E 2 St & 2 Ave,40.725029,-73.990697,20358,Subscriber,1983.0,1
194,NaN,-74.003664,NaN,232,2/1/2015 3:41,2/1/2015 3:44,434,9 Ave & W 18 St,40.743174,195,494,W 26 St & 8 Ave,40.747348,-73.997236,17751,Subscriber,1975.0,1
195,NaN,-73.991255,NaN,412,2/1/2015 3:42,2/1/2015 3:49,479,9 Ave & W 45 St,40.760193,196,267,Broadway & W 36 St,40.750977,-73.987654,15185,Subscriber,1988.0,1
196,NaN,-73.999318,NaN,445,2/1/2015 3:44,2/1/2015 3:52,482,W 15 St & 7 Ave,40.739355,197,504,1 Ave & E 15 St,40.732219,-73.981656,18968,Subscriber,1990.0,1
197,NaN,-73.977724,NaN,861,2/1/2015 3:45,2/1/2015 4:00,511,E 14 St & Avenue B,40.729387,198,335,Washington Pl & Broadway,40.729039,-73.994046,17927,Subscriber,1972.0,1
198,NaN,-73.976485,NaN,339,2/1/2015 3:47,2/1/2015 3:53,520,W 52 St & 5 Ave,40.759923,199,153,E 40 St & 5 Ave,40.752062,-73.981632,17389,Subscriber,1963.0,1

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel

# Task 1

In [9]:
query = '''
SELECT * FROM fb55.citibike
WHERE tripduration <= 10800
ORDER BY start_station_id, tripduration
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

In [14]:
query = '''
SELECT * FROM fb55.citibike
WHERE tripduration <= 10800
ORDER BY start_station_id, tripduration
LIMIT 10
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9059,-73.993929,107,2015-02-03 10:10:00+00,2015-02-03 10:12:00+00,72,8998,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19039,Subscriber,1980,2
1,NaN,W 52 St & 11 Ave,NaN,40772,-73.993929,189,2015-02-07 10:40:00+00,2015-02-07 10:43:00+00,72,40759,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,18131,Subscriber,1959,2
2,NaN,W 52 St & 11 Ave,NaN,40770,-73.993929,229,2015-02-07 10:40:00+00,2015-02-07 10:44:00+00,72,40757,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19729,Subscriber,1995,1
3,NaN,W 52 St & 11 Ave,NaN,22002,-73.993929,248,2015-02-05 06:19:00+00,2015-02-05 06:24:00+00,72,21948,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,16879,Subscriber,1970,1
4,NaN,W 52 St & 11 Ave,NaN,43107,-73.993929,252,2015-02-07 15:43:00+00,2015-02-07 15:47:00+00,72,43099,40.767272,515,W 43 St & 10 Ave,40.760094,-73.994618,15277,Subscriber,1983,1
5,NaN,W 52 St & 11 Ave,NaN,32603,-73.993929,261,2015-02-06 08:58:00+00,2015-02-06 09:02:00+00,72,32566,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,18492,Subscriber,1971,1
6,NaN,W 52 St & 11 Ave,NaN,16015,-73.993929,276,2015-02-04 12:46:00+00,2015-02-04 12:51:00+00,72,15971,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19216,Subscriber,1961,1
7,NaN,W 52 St & 11 Ave,NaN,41366,-73.993929,283,2015-02-07 12:10:00+00,2015-02-07 12:15:00+00,72,41355,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,21588,Subscriber,1974,1
8,NaN,W 52 St & 11 Ave,NaN,42084,-73.993929,288,2015-02-07 13:50:00+00,2015-02-07 13:54:00+00,72,42074,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,19124,Subscriber,1978,1
9,NaN,W 52 St & 11 Ave,NaN,2348,-73.993929,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,2282,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974,1

In [15]:
query = '''
SELECT * FROM fb55.citibike
WHERE tripduration <= 10800
ORDER BY start_station_id DESC, tripduration DESC
LIMIT 10
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,1576,-74.015756,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,1506,40.711512,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
1,NaN,South End Ave & Liberty St,NaN,8891,-74.015756,2139,2015-02-03 09:33:00+00,2015-02-03 10:09:00+00,3002,8831,40.711512,510,W 51 St & 6 Ave,40.760660,-73.980420,15552,Subscriber,1958.0,1
2,NaN,South End Ave & Liberty St,NaN,23568,-74.015756,2131,2015-02-05 08:42:00+00,2015-02-05 09:17:00+00,3002,23529,40.711512,359,E 47 St & Park Ave,40.755103,-73.974987,21473,Subscriber,1985.0,1
3,NaN,South End Ave & Liberty St,NaN,10232,-74.015756,1977,2015-02-03 16:04:00+00,2015-02-03 16:37:00+00,3002,10173,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15309,Subscriber,1969.0,1
4,NaN,South End Ave & Liberty St,NaN,27243,-74.015756,1977,2015-02-05 16:11:00+00,2015-02-05 16:44:00+00,3002,27203,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20069,Subscriber,1969.0,1
5,NaN,South End Ave & Liberty St,NaN,6846,-74.015756,1976,2015-02-02 09:21:00+00,2015-02-02 09:53:00+00,3002,6781,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,19665,Subscriber,1959.0,1
6,NaN,South End Ave & Liberty St,NaN,44708,-74.015756,1920,2015-02-07 18:36:00+00,2015-02-07 19:08:00+00,3002,44703,40.711512,410,Suffolk St & Stanton St,40.720664,-73.985180,15443,Subscriber,1964.0,2
7,NaN,South End Ave & Liberty St,NaN,11648,-74.015756,1908,2015-02-03 18:54:00+00,2015-02-03 19:26:00+00,3002,11587,40.711512,279,Peck Slip & Front St,40.707873,-74.001670,19133,Subscriber,1996.0,1
8,NaN,South End Ave & Liberty St,NaN,1297,-74.015756,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,1228,40.711512,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
9,NaN,South End Ave & Liberty St,NaN,17637,-74.015756,1830,2015-02-04 16:33:00+00,2015-02-04 17:04:00+00,3002,17590,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20246,Subscriber,1969.0,1

In [16]:
query = '''
SELECT DISTINCT start_station_id FROM fb55.citibike
WHERE tripduration <= 10800
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                445         NaN
24                411         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               310         NaN
300               454         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               497         NaN
324               305         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

In [18]:
query = '''
SELECT COUNT(*) FROM fb55.citibike
WHERE tripduration <= 10800
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

   count  Unnamed: 1
0  46151         NaN

In [19]:
query = '''
SELECT AVG(tripduration), MIN(tripduration), MAX(tripduration) FROM fb55.citibike
WHERE tripduration <= 10800
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

          avg  min    max
0  652.028342   60  10757

# Task 2

In [21]:
query = '''
SELECT * FROM fb55.citibike
WHERE DATE(starttime) = '2015-02-02'
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 5 St & Avenue C,NaN,11,-73.979955,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,6920,40.722992,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
3,NaN,9 Ave & W 16 St,NaN,627,-74.004432,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,6477,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
4,NaN,9 Ave & W 16 St,NaN,991,-74.004432,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,6478,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2
5,NaN,W 33 St & 7 Ave,NaN,1037,-73.990931,498,2015-02-02 06:20:00+00,2015-02-02 06:28:00+00,492,6526,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,16013,Subscriber,1962.0,2
6,NaN,W 27 St & 7 Ave,NaN,6510,-73.993915,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,6442,40.746647,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
7,NaN,E 11 St & 1 Ave,NaN,6511,-73.984267,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,6443,40.729538,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
8,NaN,Peck Slip & Front St,NaN,6512,-74.001670,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,6444,40.707873,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
9,NaN,E 16 St & 5 Ave,NaN,6513,-73.992390,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,6445,40.737262,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
10,NaN,W 41 St & 8 Ave,NaN,6514,-73.990026,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,6446,40.756405,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
11,NaN,Dean St & 4 Ave,NaN,6515,-73.978951,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,6447,40.683125,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
12,NaN,9 Ave & W 18 St,NaN,6516,-74.003664,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,6448,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
13,NaN,Reade St & Broadway,NaN,6517,-74.005628,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,6449,40.714505,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
14,NaN,8 Ave & W 31 St,NaN,6518,-73.994811,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,6450,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
15,NaN,1 Ave & E 15 St,NaN,6519,-73.981656,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,6451,40.732219,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
16,NaN,Broadway & E 14 St,NaN,6520,-73.990741,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,6452,40.734546,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
17,NaN,E 2 St & Avenue B,NaN,6521,-73.983688,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,6453,40.722174,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
18,NaN,Peck Slip & Front St,NaN,6522,-74.001670,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,6454,40.707873,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
19,NaN,Columbia St & Rivington St,NaN,6523,-73.980166,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,6455,40.717400,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
20,NaN,W 20 St & 8 Ave,NaN,6524,-74.000040,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,6456,40.743453,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
21,NaN,St Marks Pl & 2 Ave,NaN,6525,-73.987140,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,6457,40.728419,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
22,NaN,W 20 St & 8 Ave,NaN,6526,-74.000040,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,6458,40.743453,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
23,NaN,W 37 St & 5 Ave,NaN,6527,-73.983390,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,6459,40.750380,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
24,NaN,W 13 St & 6 Ave,NaN,6528,-73.997044,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,6460,40.736494,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
25,NaN,10 Ave & W 28 St,NaN,6529,-74.001768,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,6461,40.750664,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
26,NaN,E 25 St & 2 Ave,NaN,6530,-73.979738,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,6462,40.739126,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
27,NaN,W 4 St & 7 Ave S,NaN,6531,-74.002939,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,6463,40.734011,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
28,NaN,W 20 St & 7 Ave,NaN,6532,-73.997262,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,6464,40.742388,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
29,NaN,W 46 St & 11 Ave,NaN,6533,-73.996674,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,6465,40.763414,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,Allen St & E Houston St,NaN,7938,-73.989111,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,7871,40.722055,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,NaN,Broadway & W 29 St,NaN,7939,-73.988557,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,7872,40.746201,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,NaN,W 56 St & 6 Ave,NaN,7940,-73.977225,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,7873,40.763406,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,NaN,10 Ave & W 28 St,NaN,7941,-74.001768,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,7874,40.750664,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,NaN,W 26 St & 8 Ave,NaN,7942,-73.997236,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,7875,40.747348,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,NaN,Broadway & E 22 St,NaN,7943,-73.989551,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,7876,40.740343,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,NaN,E 47 St & 2 Ave,NaN,7944,-73.970325,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,7877,40.753231,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,NaN,Broadway & W 32 St,NaN,7945,-73.988084,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,7878,40.748549,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,NaN,8 Ave & W 31 St,NaN,7946,-73.994811,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,7879,40.750450,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,NaN,9 Ave & W 18 St,NaN,7947,-74.003664,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,7880,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,NaN,LaGuardia Pl & W 3 St,NaN,7948,-73.998102,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,7881,40.729170,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,NaN,W 26 St & 8 Ave,NaN,7949,-73.997236,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,7882,40.747348,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,NaN,Cliff St & Fulton St,NaN,7950,-74.005301,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,7883,40.708235,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,NaN,Rivington St & Ridge St,NaN,7951,-73.983299,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,7884,40.718502,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,NaN,W 49 St & 8 Ave,NaN,7952,-73.987882,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,7885,40.762272,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,NaN,Pershing Square North,NaN,7953,-73.977706,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,7886,40.751873,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,NaN,E 30 St & Park Ave S,NaN,7954,-73.983035,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,7887,40.744449,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,NaN,Sullivan St & Washington Sq,NaN,7955,-73.999061,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,7888,40.730477,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,NaN,W 42 St & 8 Ave,NaN,7956,-73.990985,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,7889,40.757570,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,NaN,Broadway & E 22 St,NaN,7957,-73.989551,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,7890,40.740343,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,NaN,1 Ave & E 15 St,NaN,7958,-73.981656,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,7891,40.732219,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,NaN,6 Ave & W 33 St,NaN,7959,-73.988484,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,7892,40.749013,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,NaN,9 Ave & W 22 St,NaN,7960,-74.001971,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,7893,40.745497,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,NaN,E 16 St & 5 Ave,NaN,7961,-73.992390,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,7894,40.737262,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,NaN,E 10 St & 5 Ave,NaN,7962,-73.995101,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,7895,40.733320,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,NaN,W 44 St & 5 Ave,NaN,7963,-73.980144,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,7896,40.755003,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,NaN,Spruce St & Nassau St,NaN,7964,-74.005524,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,7897,40.711464,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,NaN,W 13 St & 6 Ave,NaN,7965,-73.997044,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,7898,40.736494,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,NaN,W 22 St & 8 Ave,NaN,7966,-73.999154,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,7899,40.744751,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,NaN,Broadway & E 14 St,NaN,7967,-73.990741,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,7900,40.734546,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

In [228]:
query = '''
SELECT AVG(tripduration) FROM fb55.citibike
WHERE EXTRACT(dow FROM starttime::date) IN (5,6)
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

          avg  Unnamed: 1
0  658.922681         NaN

In [229]:
query = '''
SELECT AVG(tripduration) FROM fb55.citibike
WHERE EXTRACT(dow FROM starttime::date) IN (2,3,4,5,6)
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

          avg  Unnamed: 1
0  672.875822         NaN

# Task 3

In [65]:
query = '''
SELECT DISTINCT start_station_name FROM fb55.citibike
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

                start_station_name  Unnamed: 1
0             E 30 St & Park Ave S         NaN
1          Pearl St & Anchorage Pl         NaN
2                  W 56 St & 6 Ave         NaN
3                   West Thames St         NaN
4          Bank St & Washington St         NaN
5                  8 Ave & W 52 St         NaN
6               E 11 St & Broadway         NaN
7         DeKalb Ave & Skillman St         NaN
8    Atlantic Ave & Fort Greene Pl         NaN
9                Avenue D & E 8 St         NaN
10            S 3 St & Bedford Ave         NaN
11          W Broadway & Spring St         NaN
12                 2 Ave & E 31 St         NaN
13                 E 33 St & 5 Ave         NaN
14        MacDougal St & Prince St         NaN
15    Clermont Ave & Lafayette Ave         NaN
16          Barclay St & Church St         NaN
17          Forsyth St & Broome St         NaN
18                 W 13 St & 6 Ave         NaN
19                 W 17 St & 8 Ave         NaN
20              E 20 St & Park Ave         NaN
21               E 2 St & Avenue B         NaN
22                 E 33 St & 2 Ave         NaN
23                 W 18 St & 6 Ave         NaN
24             Old Slip & Front St         NaN
25        Willoughby Ave & Hall St         NaN
26                 1 Ave & E 44 St         NaN
27                 W 20 St & 7 Ave         NaN
28           West St & Chambers St         NaN
29                 E 43 St & 2 Ave         NaN
..                             ...         ...
297               12 Ave & W 40 St         NaN
298        Centre St & Chambers St         NaN
299          Pershing Square South         NaN
300                W 33 St & 7 Ave         NaN
301         Hicks St & Montague St         NaN
302        University Pl & E 14 St         NaN
303        Fulton St & Rockwell Pl         NaN
304    Lafayette Ave & St James Pl         NaN
305        Emerson Pl & Myrtle Ave         NaN
306                E 56 St & 3 Ave         NaN
307        Watts St & Greenwich St         NaN
308                W 44 St & 5 Ave         NaN
309                6 Ave & W 33 St         NaN
310              E 9 St & Avenue C         NaN
311               11 Ave & W 59 St         NaN
312        W 16 St & The High Line         NaN
313          Howard St & Centre St         NaN
314                2 Ave & E 58 St         NaN
315              E 5 St & Avenue C         NaN
316       Fulton St & Clermont Ave         NaN
317    Cadman Plaza E & Tillary St         NaN
318      Pearl St & Hanover Square         NaN
319          LaGuardia Pl & W 3 St         NaN
320                5 Ave & E 29 St         NaN
321                W 21 St & 6 Ave         NaN
322   Wythe Ave & Metropolitan Ave         NaN
323                W 11 St & 6 Ave         NaN
324            St Marks Pl & 1 Ave         NaN
325                W 22 St & 8 Ave         NaN
326         Railroad Ave & Kay Ave         NaN

[327 rows x 2 columns]

In [67]:
query = '''
SELECT start_station_name, COUNT(*) FROM fb55.citibike
GROUP BY start_station_name
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

                start_station_name  count
0             E 30 St & Park Ave S    227
1          Pearl St & Anchorage Pl     54
2                  W 56 St & 6 Ave    164
3                   West Thames St    107
4          Bank St & Washington St    125
5                  8 Ave & W 52 St    133
6               E 11 St & Broadway    115
7         DeKalb Ave & Skillman St     10
8    Atlantic Ave & Fort Greene Pl     36
9                Avenue D & E 8 St     38
10            S 3 St & Bedford Ave     13
11          W Broadway & Spring St    159
12                 2 Ave & E 31 St    302
13                 E 33 St & 5 Ave    213
14        MacDougal St & Prince St    247
15    Clermont Ave & Lafayette Ave     25
16          Barclay St & Church St    244
17          Forsyth St & Broome St    212
18                 W 13 St & 6 Ave    257
19                 W 17 St & 8 Ave    288
20              E 20 St & Park Ave    218
21               E 2 St & Avenue B    199
22                 E 33 St & 2 Ave    319
23                 W 18 St & 6 Ave    327
24             Old Slip & Front St     60
25        Willoughby Ave & Hall St     35
26                 1 Ave & E 44 St    110
27                 W 20 St & 7 Ave    190
28           West St & Chambers St    162
29                 E 43 St & 2 Ave     86
..                             ...    ...
297               12 Ave & W 40 St     91
298        Centre St & Chambers St    159
299          Pershing Square South    362
300                W 33 St & 7 Ave    309
301         Hicks St & Montague St     64
302        University Pl & E 14 St    341
303        Fulton St & Rockwell Pl     37
304    Lafayette Ave & St James Pl     32
305        Emerson Pl & Myrtle Ave     30
306                E 56 St & 3 Ave     41
307        Watts St & Greenwich St     73
308                W 44 St & 5 Ave    137
309                6 Ave & W 33 St    296
310              E 9 St & Avenue C    201
311               11 Ave & W 59 St    120
312        W 16 St & The High Line    186
313          Howard St & Centre St    124
314                2 Ave & E 58 St     64
315              E 5 St & Avenue C    142
316       Fulton St & Clermont Ave     27
317    Cadman Plaza E & Tillary St     22
318      Pearl St & Hanover Square     97
319          LaGuardia Pl & W 3 St    203
320                5 Ave & E 29 St    230
321                W 21 St & 6 Ave    519
322   Wythe Ave & Metropolitan Ave     45
323                W 11 St & 6 Ave    108
324            St Marks Pl & 1 Ave    156
325                W 22 St & 8 Ave    218
326         Railroad Ave & Kay Ave      7

[327 rows x 2 columns]

In [113]:
query = '''
SELECT start_station_name, COUNT(*) FROM (SELECT start_station_name, start_station_latitude, start_station_longitude
FROM fb55.citibike
WHERE (
          acos(sin(start_station_latitude * 0.0175) * sin(40.7577* 0.0175) 
               + cos(start_station_latitude * 0.0175) * cos(40.7577* 0.0175) *    
                 cos((-73.9857 * 0.0175) - (start_station_longitude * 0.0175))
              ) * 6371000 <= 500
      )) AS timesquare
      
GROUP BY start_station_name
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

   start_station_name  count
0     W 45 St & 8 Ave    141
1     W 42 St & 8 Ave    221
2  Broadway & W 49 St    213
3     W 43 St & 6 Ave    112
4     W 41 St & 8 Ave    507
5     W 45 St & 6 Ave    141
6  Broadway & W 41 St    251

# Task 4

In [227]:
query = '''
SELECT start_station_name, MAX(avg) FROM (
SELECT start_station_name, AVG(tripduration) FROM (
SELECT * FROM fb55.citibike
WHERE (
          acos(sin(start_station_latitude * 0.0175) * sin(40.7577* 0.0175) 
               + cos(start_station_latitude * 0.0175) * cos(40.7577* 0.0175) *    
                 cos((-73.9857 * 0.0175) - (start_station_longitude * 0.0175))
              ) * 6371000 <= 500
      )) AS timesquare
GROUP BY start_station_name) AS avgtd
GROUP BY start_station_name
ORDER BY max DESC
LIMIT 1
'''

pd.read_csv(StringIO.StringIO(queryCartoDB(query)), sep=',')

  start_station_name         max
0    W 45 St & 8 Ave  738.815603